<footer class=" bg-red-300 ">
    <div class="grid md:grid-cols-3 text-center gap-10 py-10">
       <h3 class="uppercase text-4xl font-bold"><a href="/">logo</a></h3>
       <p class="mx-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, nisi. Accusantium in ipsam veniam quasi?</p>
       <div class="grid md:grid-cols-4 gap-5 items-center m-auto">
        <img class="w-9" src="facebook_2168281.png" alt="">
        <img class="w-9" src="instagram1.png" alt="">
        <img class="w-9" src="linkedin1.png" alt="">
        <img class="w-9" src="x.png" alt="">
       </div>
    </div>
    <div class="text-center"><p>derechos reservado @2024</p></div>  
</footer>