<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left">
    <div>
        <h1 class="text-5xl font-bold pb-3">MUNDO BELLEZA</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, voluptatibus.</p>
        <button class="bg-indigo-500 py-2 px-4  hover:bg-indigo-400 rounded-3xl">empieza ya</button>
    </div>

    <img src="fotologin.svg" alt="" class="w-80">
</header> 