---
import Card from "../componet/card.astro";
---

<main class="my-2">
    <section class="grid md:grid-cols-3 text-center gap-y-8 gap-x-15 mt-10 mx-auto container">
        <Card imagen="balapng.png" title="secador para el cabello" description="el mejor secador" precio="$ 150.000"/>
        <Card imagen="balapng.png" title="plancha para el cabello" description="la mejor plancha para el cabello que existe" precio="$ 250.000"/>
        <Card imagen="balapng.png" title="cepillo termicos" description="lo mejor en cepillos termicos" precio="$ 15.000"/>
        <Card imagen="balapng.png" title="shapoo" description="el mejor shampo" precio="$ 15.000"/>
        <Card imagen="balapng.png" title="tintes" description="las mejores marcas en tintes" precio="$ 10.000"/>
        <Card imagen="balapng.png" title="tratamientos para el pelo" description="los mejores productos para tratar su cabello" precio="$ 30.000"/>

    </section>
</main>
