---
import CardMarcas from "../componet/CardMarcas.astro";

---

<section class="bg-slate-200 text-slate-700 my-10">
    <h3 class="uppercase text-3xl font-semibold text-center py-4 ">estas son ls mrcasa que manejamos</h3>
    <div class="grid grid-cols-4 items-center">
        <CardMarcas imagen="favicon.svg"/>
        <CardMarcas imagen="favicon.svg"/>
        <CardMarcas imagen="favicon.svg"/>
        <CardMarcas imagen="favicon.svg"/>
        <CardMarcas imagen="favicon.svg"/>
        <CardMarcas imagen="favicon.svg"/>
        <CardMarcas imagen="favicon.svg"/>
        <CardMarcas imagen="favicon.svg"/>
    </div>
</section>