<section class="flex  flex-col md:flex-row justify-between gap-10 mx-5  py-5 md:border-double md:border-4 border-gray-50 relative">
    
        <img class="w-[50%] m-auto items-center pl-8" src="balapng.png " alt="">

    
    <div class="flex flex-col mx-5 py-4  md:items-center ">
        <h2 class="font-bold text-center text-2xl uppercase my-10">quienes somos</h2>
        <p class="text-center mx-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat natus hic sunt minus, itaque aperiam sit perferendis veniam esse voluptatem aliquid amet recusandae ratione in modi eum odit tempora deleniti earum exercitationem! Reiciendis tempora optio dolorem earum enim nihil?</p>
        <button class="mt-10 bg-red-600 hover:bg-red-900 py-2 px-4 rounded-full">clickeame</button>
        
    </div>
</section>