---
import Layot from "../layout/layot.astro";
import Main from "../componentes/landin/main.astro";
---


<Layot title="nuestros productos">
    <h1>nuestros mejores productos</h1>
    <Main/>

</Layot>