---

import Nosotros from "../componentes/landin/nosotros.astro";
import Layot from "../layout/layot.astro";

---
<Layot title="quienes-somos">
    <h1>somos la mejor empresa del Mundo</h1>
    <Nosotros/>

</Layot>
