---
import Footer from "../componentes/landin/Footer.astro";
import Navegacion from "../componentes/landin/navegacion.astro";
import "../estilos/estilos.css";
interface Props {
    title: string
}
const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Belleza-{title}</title>
</head>
<body>
    <Navegacion/>
    <main class="mx-auto max-w-7xl">
        
        <slot/>
        
    </main>
    <Footer/>
</body>
</html>